h1, p{
  text-align: center;
}
body {
   max-width: auto;
   margin: 0 auto;
   padding: 10px;
   font-family: 'Arvo', serif;
 }

 #paragraph-resultado {
   margin-top: 25px
 }

 input, button{
   margin-top: 5px;
   width: 200px;
   border-radius: 8px;
 }
