body {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Arvo', serif;
    color: rgb(58, 107, 153);
    /*background: linear-gradient(to bottom, #B8B8B8 0%, #F0F0F0 100%);*/
    background: linear-gradient(to bottom, #000000 0%, #F0F0F0 100%);

  }
  #paragraph-resultado {
    margin-top: 25px
  }
  input{
    margin-top: 5px;
    width: 200px;
  }
 